:root {
    --vermelho: #D30C02;
    --branco: #FFFFFF;
    --cinza: #9d9d9d;
    --cinzaBorda: #EBEBEB;
    --cinzaEscuro1: #5a5a5a;
    --cinzaEscuro2: #595959;
    --vermelhoClaro: #d85133;
    --rosaClaro: #ffebe7;
}